<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/css/blogproj.css">
</head>
<body>
    <div class="row">
        <h1>Your Fancy Blog</h1>
    </div>
    <div class="row">
        <h2>Authors</h2>
    </div>
    <div class="row">
        <ul id="authorContainer">

        </ul>
    </div>
</body>


<script type="text/javascript" src="/js/authors.js"></script>
</html>