<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/css/blogproj.css">
</head>
<body>
    <div class="row">
        <h1>Your Fancy Blog</h1>
    </div>
    <div>
        <form action="">
            <label for="blogInput">Write Your Next Masterpiece:</label><br>
            <textarea name="blogInput" id="blogInput" cols="60" rows="30"></textarea><br>
            <div class="dropdown">
                <button class="dropbtn">Written By</button>
                <div class="dropdown-content">
                    <a href="#">Link 1</a>
                    <a href="#">Link 2</a>
                    <a href="#">Link 3</a>
                </div>
            </div>
            <input type="submit" id="blogSubmit">

        </form>
    </div>

</body>
</html>